{% extends 'base.html.twig' %}

{% block title %}Statistiques des users{% endblock %}

{% block body %}
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col">
                <div class="alert alert-secondary">
                    <h3 class="alert-heading my-3">
                        <i class="fas fa-arrow-up"></i>
                        Statistiques des saisies par utilisateurs
                    </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th class="text-center"><i class="fas fa-sort-up"></i> Rang</th>
                                <th><i class="fas fa-address-card"></i> Noms et prénoms</th>
                                <th class="text-center"><i class="fas fa-coins"></i> Compteur</th>
                                <th class="text-center">Equipe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set rang = 1 %}
                            {% for statUser in userStats %}
                                <tr>
                                    <td class="text-center">{{ rang }}</td>
                                    <td>
                                        {% if rang < 4 %}
                                            <i class="fas fa-star note"></i>
                                        {% endif %}
                                        {{ statUser.fullName }}
                                    </td>
                                    <td class="text-center">{{ statUser.compteur }}</td>
                                    <td class="text-center">{{ statUser.libelle }}</td>
                                </tr>
                                {% set rang = rang + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# Service de pagination #}
        {{ paginator.display }}
    </div>
{% endblock %}
