{% extends 'base.html.twig' %}

{% block title %}Saisies effectuées{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="my-5">Gestion des actes de décès saisies</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i class="fas fa-list-ol"></i> N°</th>
                    <th>Numéro Acte de décès</th>
                    <th><i class="fas fa-id-card"></i> Nom du décédé</th>
                    <th><i class="fas fa-calendar"></i> Date de décès</th>
                    <th><i class="fas fa-calendar-check"></i> Date de saisie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% set actes = paginator.data %}
                {% for acte in actes %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ acte.numeroActe }}</td>
                        <td>{{ acte.fullName }}</td>
                        <td>{{ acte.dateDeces | date("d/m/Y") }}</td>
                        <td>{{ acte.dateSaisie | date("d/m/Y") }}</td>
                        <td>
                            <a href="#" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>

        {# service de pagination: voir le template pagination.html.twig et le service paginator.php #}
        {{ paginator.display() }}
    </div>
{% endblock %}
